/* ==UserStyle==
@name						BGA Carcassonne mobile condensed playerboards
@description		Mobile version (max. 960px wide windows): Reduce playerboard to 50 % of its height, shrink & move tile in hand to reduce whitespace and enlarge playing area. Hide "you're a spectator"-message. Hide zoom icons if desired.
@version				0.3.2
@author					yzemaze
@namespace			github.com/yzemaze/
@homepageURL		https://github.com/yzemaze/bga-carcassonne-scripts/
@supportURL			https://github.com/yzemaze/bga-carcassonne-scripts/issues
@updateURL			https://github.com/yzemaze/bga-carcassonne-scripts/raw/main/mobile-condensed-playerboards.user.styl
@license				GPLv3
@preprocessor		stylus

@var		checkbox		zoomIconHide		"Hide Zoom icons etc."		1
==/UserStyle== */

@-moz-document regexp("https://(\w*\.)?boardgamearena.com/.*/carcassonne.*"), regexp("https://(\w*\.)?boardgamearena.com/archive/replay/.*")
	#topbar
		display none
	.mobile_version .bgagame-carcassonne
		.pageheader
			margin 0
			border-radius 0.5em
		#pagemaintitletext
			display inline-block
		#page-title, #remainingblock
			margin 0
			border-radius 0.5em
		#left-side-wrapper
			margin-top 0
		#right-side
			margin 0
		#player_boards
			margin 0 0 0 2px
		.player-board
			height 46px
			&.spectator-mode
				display none
			.tile-back-icon
				height 24px
				width 24px
				line-height 24px
				margin-top -4px
		.partisan_stock
			clear none
			zoom 80%
            .partwrap .partisan
				top 0 !important
				left 0 !important
        #handtile0
			display none
		if zoomIconHide
			#current_player_board .icon_wrapper
				display none
